.devtool_list_box {
  opacity: 0.8;
}

.list-group li {
  display: flex;
}

.list-group-item h4 {
  width: 100px;
  color: darkslateblue;
}

.list-group-item > a {
  text-decoration: none;
}

.list-group-item h4:hover {
  color: gray;
  cursor: pointer;
}

.list-group div {
  margin-top: 5px;
  margin-left: 50px;
}

.list-group div:nth-child(2) {
  width: 200px;
}

.devtool_detail_box {
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 500px;
  border: white 2px solid;
}

.side-line {
  border-left: solid darkblue 3px;
  padding-left: 10px;
}

.word-line {
  border-bottom: solid white 2px;
  padding-bottom: 10px;
  width: 900px;
}

.devtool_detail_box h1 {
  color: darkblue;
  font-family: "NEXONFootballGothicBA1";
  font-size: 6rem;
}

.devtool_detail_box h3 {
  color: darkblue;
  font-family: "NEXONFootballGothicBA1";
}

.word-line {
  margin-bottom: 10px;
}

.devtool-detail-buttons {
  display: flex;
  justify-content: center;
}
.devtool-detail-buttons a {
  width: 100px;
  margin: 10px;
}
