.idea_list_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.option_select {
  padding: 5px;
  border-radius: 5px;
  font-family: "NEXON Lv1 Gothic OTF";
}

.card a {
  text-decoration: none;
}

.card a h3 {
  font-family: "MaplestoryOTFBold";
  font-size: 22px;
}
.idea_detail_box {
  width: 1000px;
  height: 450px;
  border: white solid 2px;
  margin: auto auto 50px auto;
  font-family: "NEXON Lv2 Gothic";
  display: flex;
  flex-direction: row;
}

.idea_detail_box h1 {
  font-family: "MaplestoryOTFBold";
  color: blue;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px skyblue dotted;
}

.detail-left img {
  margin: 10px;
  border: 2px solid skyblue;
}

.detail-right {
  justify-content: center;
  flex-direction: column;
  margin: 20px 30px;
  width: 380px;
}

.title-section {
  display: flex;
  flex-direction: row;
}

.title-section a {
  width: 100px;
  height: 50px;
  padding-top: 10px;
}

.detail-content {
  margin-top: 30px;
}

.detail-content h4 {
  font-weight: 700;
}
.detail-content div {
  color: antiquewhite;
}

.detail-buttons {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-buttons a {
  margin-bottom: 30px;
  width: 80px;
}

.pagination-box {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  background-color: rgba(255, 255, 255, 0.575);
  width: 1190px;
  height: 30px;
  font-size: 18px;
}

.pagination-box a {
  text-decoration: none;
  margin: 0 10px;
  color: gray;
}
.pagination-box a:hover {
  color: black;
}

.idea_register_wrap {
  display: flex;
  justify-content: center;
}

.idea_register_box {
  color: white;
}

.idea-btn-box {
  margin-left: 150px;
}
.idea_register_wrap form button {
  color: white;
  width: 200px;
  border: solid white 1px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.112);
}

.idea_register_wrap form button:hover {
  background-color: aliceblue;
  color: black;
}
