@import "./idea.css";

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXONFootballGothicBA1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "NEXON Lv1 Gothic OTF";
}

nav {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  background-color: black;
  opacity: calc(0.8);
}

#logo {
  text-decoration: none;
  margin: 10px;
  width: 200px;
  font-family: "MaplestoryOTFBold";
  font-size: 20px;
  font-weight: 700;
}

nav ul {
  width: 500px;
  font-family: "NEXONFootballGothicBA1";
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  color: skyblue;
}

nav ul li:hover {
  cursor: pointer;
  color: greenyellow;
}

body {
  background-image: url("../img/background_img.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}
.main_title {
  color: skyblue;
  font-size: 30px;
  margin-top: -20px;
}

.sub_title {
  color: whitesmoke;
  font-size: 15px;
}

.base_box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 1200px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
}
