<style>
  .review_form_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
    background-color: rgb(42, 42, 71);
  }
  .review_form_wrap button {
    color: black;
    padding: 5px;
    width: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
  }
  .review_form_box {
    width: 800px;
    margin: auto;
    padding-left: 100px;
    padding-top: 20px;
    color: gray;
  }
</style>
{% extends 'KwakGV/base.html'%} {% block content %}
<section class="review_form_wrap">
  <form
    action="{% url 'create_review' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="review_form_box">{% csrf_token %}{{review_form.as_p}}</div>
    <button type="submit">저장</button>
  </form>
</section>
{% endblock %}
