{% extends 'KwakGV/base.html'%} {% block content %}
<style>
  .sub_info {
    display: flex;
  }
  .sub_info span {
    margin-right: 25px;
  }
</style>
<h1>Movie List</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for text in reviews %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="{%url 'review_list_info' pk=text.pk%}">
        <img src="{{text.img_url}}" alt="{{text.img_url}}" />
        <div class="caption">
          <h3>{{text.title}}</h3>
          <div class="sub_info">
            <span>{{text.star_rate}}</span>
            <div>{{text.genre}}</div>
            <div>{{text.year}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
