{% extends 'KwakGV/base.html' %} {% block content %}
<style>
  .review_info {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .contents {
    padding: 10px;
    width: 1200px;
    background-color: rgb(42, 42, 71);
    white-space: pre-wrap;
  }
  .movie_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-size: 50px;
  }

  .movie_title h1 {
    border: none;
  }
  .movie_title span {
    padding-top: 30px;
    font-size: 30px;
  }
  .first_info {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .movie_information > div {
    margin-top: 30px;
    font-size: 25px;
  }
  .movie_option {
    color: antiquewhite;
    margin-right: 50px;
  }
  .movie_review_content {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .movie_review_content h2 {
    padding-right: auto;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
  }
  .modify_button button {
    margin-top: 200px;
    background-color: rgb(42, 42, 71);
    color: white;
    border: 1px solid antiquewhite;
    padding: 2px 5px;
  }
</style>
<section class="review_info">
  <div class="title_section">
    <div class="movie_title">
      <h1>{{board_contents.title}}</h1>
      <span>{{board_contents.year}}</span>
    </div>
  </div>
  <div class="first_info">
    <div class="movie_img">
      <img src="{{board_contents.img_url}}" width="400" />
    </div>
    <div class="movie_information">
      <div class="movie_director">
        <span class="movie_option">감독</span
        ><span class="movie_option_info">{{board_contents.director}}</span>
      </div>
      <div class="movie_actor">
        <span class="movie_option">주연</span
        ><span class="movie_option_info">{{board_contents.actor}}</span>
      </div>
      <div class="movie_genre">
        <span class="movie_option">장르</span
        ><span class="movie_option_info">{{board_contents.genre}}</span>
      </div>
      <div class="movie_star_rate">
        <span class="movie_option">별점</span
        ><span class="movie_option_info">{{board_contents.star_rate}}</span>
      </div>
      <div class="movie_running_time">
        <span class="movie_option">러닝타임</span
        ><span class="movie_option_info">{{board_contents.running_time}}</span>
      </div>
      <a
        class="modify_button"
        href="{% url 'edit_review' pk=board_contents.pk %}"
      >
        <button>수정하기</button>
      </a>
    </div>
  </div>
  <div class="movie_review_content">
    <h2>영화 리뷰</h2>
    <div class="contents">{{board_contents.board_text | safe}}</div>
  </div>
</section>
{%endblock%}
