{% extends 'posts/base.html' %} {% block content %}
<div class="idea_list_wrap">
  <h1 class="main_title">DevTool Detail Update</h1>
  <div class="sub_title">
    개발툴 세부내용 수정 페이지입니다. 개발툴에 대해 수정사항이 있으면
    고쳐보아요.
  </div>
</div>
<section class="idea_register_wrap">
  <form
    action="{% url 'posts:devtool_modify' pk=pk %}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="idea_register_box">{% csrf_token %}{{form.as_p}}</div>
    <div class="idea-btn-box"><button type="submit">수정 완료</button></div>
  </form>
</section>
{% endblock %}
