{% extends 'posts/base.html' %} {% load static %}
{% block content %}
<div class="idea_list_wrap">
    <h1 class="main_title">Idea List</h1>
    <div class="sub_title">나의 아이디어를 잊지 말고 기록해보세요.</div>
  <form action="{% url 'posts:idea_list' %}" method="get" style="margin-left:auto; margin-right: 10px;">
    <select name="sort" onchange="this.form.submit()" class="option_select">
      <option value="">정렬 기준 선택</option>
      <option value="latest" {% if sort == 'latest' %}selected{% endif %}>최신순</option>
      <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>등록순</option>
      <option value="name" {% if sort == 'name' %}selected{% endif %}>이름순</option>
      <option value="liked" {% if sort == 'liked' %}selected{% endif %}>찜하기순</option>
    </select>
  </form>
</div>
<div class="row row-cols-1 row-cols-md-4">
  {% for idea in page_obj %}
  <div class="col mt-2">
    <div
      class="card"
      style="width: 17rem; align-items: center; margin-left: 5px"
    >
      <img
        src="{{ idea.image.url }}"
        alt="{{ idea.image.url }}"
        class="card-img-top"
        style="height: 12rem; width: 13rem"
      />
      <div class="card-body">
        <a href="{%url 'posts:idea_detail' pk=idea.pk%}"
          ><h3 class="card-title">{{ idea.title }}</h3></a
        >
        <div class="card-text">
          <div>{{ idea.devtool }}</div>
          <div>관심도: <span id="interest-rate-{{ idea.pk }}">{{ idea.interest_rate }}</span></div>
          <div>
            <button class="btn btn-sm btn-success" onclick="changeInterestRate({{ idea.pk }}, +1)">+</button>
            <button class="btn btn-sm btn-danger" onclick="changeInterestRate({{ idea.pk }}, -1)">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="pagination-box">
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}
    <span class="current-page">{{page_obj.number}}</span>
    {%if page_obj.has_next%}
    <a href="?page={{page_obj.next_page_number}}">></a>
    {%endif%}
  </div>
</div>
<script src="{% static 'posts/javascript/changeInterestRate.js' %}"></script>

{% endblock %}
