{% extends 'posts/base.html' %} {% block content %}
<div class="idea_list_wrap">
  <h1 class="main_title">Idea Detail Update</h1>
  <div class="sub_title">
    아이디어 세부내용 수정 페이지입니다. 아이디어를 구체화하거나 내용을 변경해
    보아요.
  </div>
</div>
<section class="idea_register_wrap">
  <form
    action="{% url 'posts:idea_modify' pk %}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="idea_register_box">{% csrf_token %}{{form.as_p}}</div>
    <div class="idea-btn-box"><button type="submit">수정 완료</button></div>
  </form>
</section>
{% endblock %}
