{% extends 'posts/base.html' %} {% block content %}
<div class="idea_list_wrap">
  <h1 class="main_title">Idea Register</h1>
  <div class="sub_title">
    아이디어 등록 페이지입니다. 당신의 아이디어를 잊지 말고 기록하세요!
  </div>
</div>
<section class="idea_register_wrap">
  <form
    action="{% url 'posts:idea_register' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="idea_register_box">
      {% csrf_token %}{{idea_register_form.as_p}}
    </div>
    <div class="idea-btn-box"><button type="submit">submit</button></div>
  </form>
</section>
{% endblock %}
